<style>
    #datosCliente label {
        color: #046c84 !important;
        font-weight: bold !important;
    }

    #datosCliente h4, #datosCliente h5 {
        color:#777;
    }

    @@media (max-width:575px) {
        #datosCliente .p-2 .row {
            margin:0 auto !important;
        }
    }
</style>

<div class="row g-6 mb-6">
    <div class="col-12">
        <div class="card shadow border-0">
            <div class="card-body" id="datosCliente">
                <div class="row p-2">
                    <div class="row">
                        <div class="col-12 col-sm-6 p-2 ">
                            <div class="row" style="height:6em">
                                <img src="~/Images/logosClientes/Customer_Logo.png" class="fit-image">
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 p-2 justify-content-center order-sm-first pl-sm-5">
                            <label>Razón social:</label>
                            <h4>Empresa</h4>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 p-3 pl-sm-5">
                        <label>No. ID:</label>
                        <h5>#</h5>
                    </div>
                    <div class="col-12 col-sm-4 p-3">
                        <label># Folios totales:</label>
                        <h5>#</h5>
                    </div>
                    <div class="col-12 col-sm-4 p-3">
                        <label># Transacciones totales:</label>
                        <h5>#</h5>
                    </div>
                    <div class="col-12 col-sm-6 p-2 pl-sm-5">
                        <label>Fecha de registro:</label>
                        <h5>2021-12-10</h5>
                    </div>
                    <div class="col-12 col-sm-6 p-2 pl-sm-5">
                        <label>Teléfono:</label>
                        <h5>##########</h5>
                    </div>
                    <div class="col-12 col-sm-6 p-2 pl-sm-5">
                        <label>E-mail:</label>
                        <h5>contacto@mail.com</h5>
                    </div>
                    <div class="col-12 col-sm-6 p-2 pl-sm-5">
                        <label>Dirección:</label>
                        <h5>***********</h5>
                    </div>
                    <div class="col-12 col-sm-6 p-2 pl-sm-5">
                        <label>No. de empleados:</label>
                        <h5>######</h5>
                    </div>
                    <div class="col-12 col-sm-6 p-2 pl-sm-5">
                        <label>Centro de trabajo:</label>
                        <h5>Guadalajara</h5>
                    </div>



                </div>
            </div>
        </div>
    </div>

</div>
