
@{
    ViewBag.Title = "RecursoComercializacion";
    @Styles.Render("~/Content/recursosStyle.css");
}

<link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet'>


<div class="card shadow border-0 bg-white px-8 py-4">
    <div class="row">
        <div class="col-12 pt-4"><h1>Kit de comercialización NOM 035</h1></div>
    </div>

    <div class="row my-3 my-sm-4">
        <div class="col-12  mb-3"><h2>Acceso al CRM</h2></div>
        <div class="col-sm-6 col-12 mb-3 mb-sm-0">
            <div class="row px-2">
                <div class="col-12">
                    <p>Identifica y da seguimiento a tus clientes desde la atracción hasta concretar la venta.</p>
                </div>
                <div class="d-flex justify-content-center ">
                    <div class="p-2 text-center btn float-sm-end">
                        <a href="#" class="btn btn-primary mx-1 px-5 text-uppercase ">
                            Ingresar
                        </a>
                    </div>


                </div>
            </div>


        </div>
        <div class="col-sm-6 col-12 mb-3 mb-sm-0">
            <img class="imgKit" src="~/Images/Recursos/crm.png" />
        </div>
    </div>
    <div class="row my-3 my-sm-4">
        <div class="col-12 mb-3"><h2>Checklist sobre el proceso de implementación</h2></div>
        <div class="col-sm-6 col-12 mb-3 mb-sm-0">
            <div class="row px-2">
                <div class="col-12">
                    <p>Para conocer qué es lo que no ha hecho una organización respecto a la NOM 035.</p>
                </div>
                <div class="d-flex justify-content-center ">
                    <div class="p-2 text-center btn float-sm-end">
                        <a href="#" class="btn btn-primary mx-1 px-5 text-uppercase ">
                            Ingresar
                        </a>
                    </div>


                </div>
            </div>


        </div>
        <div class="col-sm-6 col-12 mb-3 mb-sm-0">
            <img class="imgKit" src="~/Images/Recursos/Checklist.png" />
        </div>
    </div>

    <div class="row my-3 my-sm-4">
        <div class="col-12 mb-3"><h2>Aula Virtual</h2></div>
        <div class="col-sm-6 col-12 mb-3 mb-sm-0">
            <div class="row px-2">
                <div class="col-12">
                    <p>Un aula con recursos e información esencial para la implementación de la NOM 035.</p>
                </div>
                <div class="d-flex justify-content-center ">
                    <div class="p-2 text-center btn float-sm-end">
                        <a href="#" class="btn btn-primary mx-1 px-5 text-uppercase">
                            Ingresar
                        </a>
                    </div>

                </div>

            </div>


        </div>
        <div class="col-sm-6 col-12 mb-3 mb-sm-0">
            <img class="imgKit" src="~/Images/Recursos/Aula-Virtual.png" />
        </div>
    </div>

    <div class="row my-3 my-sm-4">
        <div class="col-12 mb-3"><h2>Cotizador</h2></div>
        <div class="col-sm-6 col-12 mb-3 mb-sm-0">
            <div class="row px-2">
                <div class="col-12">
                    <p>La herramienta ideal para obtener precios al instante, descárgalo ahora.</p>
                </div>
                <div class="d-flex justify-content-center ">
                    <div class="p-2 text-center btn float-sm-end">
                        <a href="#" class="btn btn-primary mx-1 px-5 text-uppercase">
                            Ingresar
                        </a>
                    </div>

                </div>

            </div>


        </div>
        <div class="col-sm-6 col-12 mb-3 mb-sm-0">
            <img class="imgKit" src="~/Images/Recursos/Cotizador-1024x599.png" />
        </div>
    </div>

    <div class="row my-3 my-sm-4">
        <div class="col-12 mb-3"><h2>Formato de cotización</h2></div>
        <div class="col-sm-6 col-12 mb-3 mb-sm-0">
            <div class="row px-2">
                <div class="col-12">
                    <p>Descarga el formato editable para generar y enviar cotizaciones de manera rápida.</p>
                </div>
                <div class="d-flex justify-content-center ">
                    <div class="p-2 text-center btn float-sm-end">
                        <a href="#" class="btn btn-primary mx-1 px-5 text-uppercase">
                            Ingresar
                        </a>
                    </div>

                </div>

            </div>


        </div>
        <div class="col-sm-6 col-12 mb-3 mb-sm-0">
            <img class="imgKit"  src="~/Images/Recursos/FormatoCotizacion.png" />
        </div>
    </div>

</div>

